.formSuccess__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #1d2228;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 12;
}

.formSuccess__overlay.active {
    display: flex;
    flex-direction: column;
}